

body p {
    font-family: 'Inter', sans-serif;
}

body h1,
body h2, 
body h3, 
body h4,
body h5 {
    font-family: 'Inter', sans-serif;
    color: #fff;
}

h1, h2, h3, h4  {
    font-weight: 300;
    font-family: 'Bitter', serif;
}

h5 {
    font-weight: 500;
    font-family: 'Bitter', serif;
}

h3 {
    font-weight: 200;
    font-family: 'Bitter', serif;
}

.hero h1, .hero, h3, .nav-bar__menu h5 {
    font-family: 'Bitter', serif;
}