* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --font_color_p: #777;
    --background-color: #000;
    --about__background-color: #151515;
}



body {
    color: var(--font_color_p);
    background-color: var(--background-color);
}

.max-width {
    /* background-color: hotpink; */
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

}

.nav-bar {
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    max-width: 1400px;
    height: 60px;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.nav-bar__logo {
    /* background-color: turquoise; */
    width: 6%;
    font-size: 40px;
    padding: 8px;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar__menu {
    /* background-color: turquoise; */
    font-size: 24px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar__menu h5 {
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .nav-bar__menu {
        flex-direction: column;
    }

    .nav-bar {
        background-color: rgba(0, 0, 0, 0);
        height: 120px;
        margin-top: 20px;
    }
}

.hero {

    width: 100vw;
    max-width: 1400px;
    height: 70vh;
    /* position: absolute; */
    top: 0;
    z-index: 1;
    background-image: url(../assets/IRoT_hero.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    padding-bottom: 5vh;
}

.hero span {
    background-color: #000;
    color: #fff;
    line-height: 50px;

}

.hero-header {
    position: relative;
    top: 340px;
    left: 40px;
    font-size: 40px;
    padding: 5px;
    margin-right: 25%;
    z-index: 2;
}

.hero-subheader {
    position: relative;
    top: 200px;
    left: 48px;
    font-size: 24px;
    padding: 5px;
    margin-right: 20%;
    z-index: 2;
}

@media screen and (max-width: 935px) {
    .hero-header {
        position: relative;
        top: 190px;
        left: 20px;
        font-size: 48px;
        padding: 5px;
        margin-right: 25%
    }

    .hero-subheader {
        position: relative;
        top: 200px;
        left: 20px;
        font-size: 32px;
        padding: 5px;
        margin-right: 20%;
    }
}

@media screen and (max-width: 435px) {
    .hero {
        background-image: url(../assets/IRoT_hero.jpg);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        background-size: cover;
    }

    .hero-header {
        position: relative;
        top: 190px;
        left: 20px;
        font-size: 36px;
        padding: 5px;
        margin-right: 25%
    }

    .hero-subheader {
        position: relative;
        top: 210px;
        left: 20px;
        font-size: 20px;
        padding: 5px;
        margin-right: 20%;
    }
}

.z-index-wrapper {
    background-color: var(--background-color);
    position: relative;
    width: 100%;
    padding-top: 20px;
    z-index: 3;
    
    margin-left: auto;
    margin-right: auto;
    
    z-index: 20;
}

.cocktail-menu,
.beer-menu,
.workslist {
    background-color: var(--background-color);
    margin: 6%;
    max-width: 960px;
    margin: 2rem auto;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 25px;
    
   
}




footer {
    margin-top: 200px;
    position: relative;

    
}

.about {
    background-color: var(--about__background-color);
    padding: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.about__paragraph {
    /* background-color: violet; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__paragraph h2 {
    padding-bottom: 20px;
}

.about__paragraph p {
    color: #fff;
}

.about__photo {

    width: 45%;
    /* height: auto; */
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-left: 5%;
}

.about__photo img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .about {
        flex-direction: column;
    }

    .about__paragraph,
    .about__photo {
        /* background-color: pink; */

        width: 100%;
        padding: 5%;
        margin-left: 0%;

    }
}


/* ============================================================== */
/* ============================================================== */
/* =========================   MENU PAGE  ======================= */
/* ============================================================== */
/* ============================================================== */


.cocktail-background {
    background-image: url(../assets/CocktailAmbience.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
    background-position-x: center;
}

.beer-background {
    background-image: url(../assets/BeerAmbience.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position-x: center;
    background-position-y: top;
}

.menu-footer {
    background-color: var(--about__background-color);
    position: fixed;
    width: 100%;
    height: 60px;
    max-width: 1400px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-right: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drink-presentation {
    background-color: #fff;
    position: relative;
    top: 150px; 
    padding: 4%; 
    min-height: 40vh;
    width: 82vw;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.drink-presentation__return-button {
    /* background-color: sandybrown; */
    position: relative;
    width: 200px;
    height: 0px;
    z-index: 10;
    transform: translateX(-10px, -100px);
}


.drink-presentation__return-button img {
    height: 22px;
}

.drink-presentation p {
    max-width: 640px;
}

.drink-presentation__cocktail__top-half {
    /* background-color: violet; */
    min-height: 200px; /* // remember to cancel this out!! */
    width: 100%;
    /* height: 20%; */
   
    display: flex;
    flex-direction: row;
}


.drink-presentation__cocktail__top-half__left {
    /* background-color: yellow; */
    /* line-height: 20px; */
    min-width: 100px;
    min-height: 100px;
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.drink-presentation__cocktail__top-half__left h1 {
    transform: translateY(8px);
}


.drink-presentation__cocktail__top-half__right {
    /* background-color: orange; */
    /* min-height: 200px; */
     /* max-height: 30vh; */
    width: 50%;
    display: flex;
    flex-direction: column;
}

.drink-presentation__cocktail__top-half__right img {
    width: 100%; 
    height: auto;
    display: block;
    object-fit: cover;
}

@media screen and (max-width: 600px) {

    .drink-presentation__cocktail__top-half {
        /* background-color: orange; */
        flex-direction: column;
    }

    .drink-presentation__cocktail__top-half__left {
        /* background-color: yellow; */
        width: 100%;
        min-height: 10px;
        margin-bottom: 16px;
        justify-content: center;
        align-items: flex-start;
    }

    .drink-presentation__cocktail__top-half__right {
        width: 100%;
        justify-content: center;
    }
}


.drink-presentation__cocktail__bottom-half {
    /* background-color: mediumaquamarine; */
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 80px;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
}

.drink-presentation__cocktail__bottom-half__lead {
    /* background-color: orangered; */
    min-height: 60px;
    min-width: 60px;
    margin-top: 40px;
    max-width: 420px;
}

.drink-presentation__cocktail__bottom-half__body {
    /* background-color: teal; */
    margin-top: 40px;
    min-height: 60px;
    min-width: 60px;
}

.drink-presentation__beer__banner {
    /* background-color: springgreen; */
}





/* ============================================================== */
/* ============================================================== */
/* =========================   TILES  ======================= */
/* ============================================================== */
/* ============================================================== */


.tile-menu-headline {
    /* position: relative; */
    margin-top: 200px;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 2%;
    max-width: 960px;
    margin: 2rem auto;
    display: flex;
}


.tile-cover {
    width: 100%; 
    height: 100%;
}

.menu-tile {
    display: block;
    width: 275px;
    height: 275px;
    position: relative;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
}

.menu-tile img {
    display: block;
    object-fit: cover; 
    width: 100%;
    height: auto;
    object-position: center;
    /* filter: sepia(0.5); */
}


.menu-tile:hover .tile-mask {
    transform: translate(0px); 
 }
 
 .tile-mask {
     background-color: rgba(0, 0, 0, 0.6);
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     z-index: 5;
     transform: translate(-300px);
     transition: transform 0.3s ease-in-out;
 }


 .menu-tile:hover .tile-title {
    transform: translateY(160px);
}

.tile-title {
    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 10;
    transform: translateY(300px);
    transition: transform 0.3s ease-in-out;
}

.tile-title span {
    background-color: var(--background-color);
}
